.blue {
    background-color: #1770a8;
}
.blue:hover {
    background-color: #135c85;
}
.blue:active {
    background-color: #0f4c75;
}
.blue:disabled {
    cursor: not-allowed;
    background-color: #706f6f;
}