.primary {
    --button-background-color: #399a58;
    --button-background-color-hover: #246738;
    --button-background-color-active: #1c4f28;
}
.secondary {
    --button-background-color: #138fb6;
    --button-background-color-hover: #107494;
    --button-background-color-active: #0c5772;
}
.danger {
    --button-background-color: #ec3232;
    --button-background-color-hover: #b92525;
    --button-background-color-active: #8f1919;
}